body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-image: url(images/stadium.jpg);
  color: white;
  background-size:cover;

}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: darkgray;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #855;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media (max-width: 68em) {
.sidebar {
display: none;
}
}


p.History1{
   padding-left: 7em;
   background-color: white;
   color: black;
    border-radius: 1em;
    
    font-size: 1.8em;
    
}

@media (max-width: 68em) {
p.History1 {
padding-left:0.1em;
    border-radius: 1em;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.1em;
}
}

h1.PageHead1{
    text-align: center;
    font-family: serif;
    font-size: 2.7em
    
}


@media(max-width: 48em)
{
.centre{
    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9em;
  height: 9em;

    
    }}

  .jumbotron {
    background-color: #f4511e;
    color: white;
    padding: 100px 55px;
  }
  .container-fluid {
    padding: 50px 50px;
      background-color: darkviolet;
      text-align: center;
    
  }
 .text-center
{
    background-color: #f4511e;
}

  .bg-grey {
    background-color: deepskyblue;
      
  
  
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
        
    }
  }
.col-sm-8
{
    text-align: center;
    
}



